@import "tailwindcss/preflight";
@tailwind utilities;

@theme {
  @keyframes floatFade {
    '0%, 100%' { 
      opacity: 0; 
      transform: translateY(20px) scale(0.95);
    }
    '15%, 85%' { 
      opacity: 1; 
      transform: translateY(0) scale(1);
    }
  }
}

:root {
  /* Custom Colors */
  --color-brand-green: #D1FAE5;
  --color-brand-pink: #FCE7F3;
  --color-brand-pink-dark: #EC4899;
  --color-brand-green-dark: #065F46;

  /* Custom Animations */
  --animation-float-fade-1: floatFade 15s ease-in-out infinite;
  --animation-float-fade-2: floatFade 15s ease-in-out infinite 4s;
  --animation-float-fade-3: floatFade 15s ease-in-out infinite 8s;
  --animation-float-fade-4: floatFade 15s ease-in-out infinite 12s;
}